<!-- accountBook/templates/transaction_list.html -->

<!DOCTYPE html>
<html lang="ko,en">
<head>
    <meta charset="UTF-8">
    <title>거래 목록</title>
</head>
<body>
    <h1>거래 목록</h1>
    <table border="1">
        <thead>
            <tr>
                <th>날짜 Date</th>
                <th>금액 Price</th>
                <th>카테고리 Category</th>
                <th>설명 Description</th>
                <th>작업 Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.get_category_display }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>
                        <a href="{% url 'edit_transaction' transaction.pk %}">수정 / Edit</a>
                        <a href="{% url 'delete_transaction' transaction.pk %}">삭제 / Delete</a> <!-- 삭제 링크 추가 -->
                    </td>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">거래 내역이 없습니다.</td><!-- 열 수에 맞춰 colspan 수정 -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_transaction' %}">새 거래 추가 / Add New Transaction</a>
</body>
</html>